body {
    padding: 0;
    margin: 0;
}
.container {
    padding: 20px;
}
#my-canvas {
    background-color: rgba(155, 155, 155, 0.2);
    box-shadow: 1px 1px 1px;
    margin: 0 auto;
    display: block;
    
}
#hit-canvas {
    display: none;
}
.icon {
    position: relative;
    display: inline-block;
    font-size: 4em;
    float: right;
    width: 100px;
    top: 15px;
    transition: color .5s;
}

.icon.selected {
    color: yellow;
}
.fa-circle, .fa-circle-o{
    /* color: red; */
}
.icon:hover {
    color: orange;
    cursor: pointer;
}

.never-select{
    position: relative;
    display: inline-block;
    font-size: 4em;
    float: right;
    width: 100px;
    top: 15px;
    transition: color .5s;
}
.never-select:hover {
    color: orange;
    cursor: pointer;
}´
i:hover{
    color: black;
}

.change-color {
    background-color: linear-gradient(red,purple,blue, cyan,green,yellow,orange);
    border-radius: 5px;
    /* width: 50px;
    height: 50px; */
    /* margin: .4rem; */
}

.navbar {
    height: 100px;
    background-color: rgba(50, 100, 200, 0.5);
    border-bottom: solid 6px rgba(50, 100, 200, 1);
}

.fonts{
    border: 3px solid black;

.instructions{
    margin: 0 auto;
    font-size: 1.2em;
}
i {
    font-size: 10px;
    text-align: center;
    display: block;
    /* align-self: auto; */

#clear-canvas {
    position: absolute;
    left: 73%;
    top: 14.5%;
}

