body {
    padding: 0;
    margin: 0;
}
.container {
    padding: 20px;
}
#my-canvas {
    background-color: rgba(155, 155, 155, 0.2);
    box-shadow: 1px 1px 1px;
    margin: 0 auto;
    display: block;
}
.icon {
    position: relative;
    display: inline-block;
    font-size: 4em;
    float: right;
    width: 100px;
    top: 15px;
    transition: color .5s;
}
.icon:hover {
    color: orange;
    cursor: pointer;
}
.icon.selected {
    color: yellow;
}

.navbar {
    height: 100px;
    background-color: rgba(50, 100, 200, 0.5);
    border-bottom: solid 6px rgba(50, 100, 200, 1);
}
